---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openaustralia/planningalerts/commits?per_page=100&since=2017-08-28&until=2017-09-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1504881657'
      Etag:
      - W/"79647594d709aea2f1a8f1eadb540537"
      Last-Modified:
      - Fri, 08 Sep 2017 11:53:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/388113/commits?per_page=100&since=2017-08-28&until=2017-09-10&page=2>;
        rel="next", <https://api.github.com/repositories/388113/commits?per_page=100&since=2017-08-28&until=2017-09-10&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"68e9ce9d9782c10673abda99a313d2c175a734df","commit":{"author":{"name":"Luke
        Bacon","email":"luke@equivalentideas.com","date":"2017-09-08T11:53:58Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2017-09-08T11:53:58Z"},"message":"Merge
        pull request #1246 from openaustralia/move-contributor-details-question\n\nMoved
        methods from contributors_controller to councillor_contributions_controller","tree":{"sha":"0d62f480bfb1adc08cb0ead8864b7a8942167fb8","url":"https://api.github.com/repos/openaustralia/planningalerts/git/trees/0d62f480bfb1adc08cb0ead8864b7a8942167fb8"},"url":"https://api.github.com/repos/openaustralia/planningalerts/git/commits/68e9ce9d9782c10673abda99a313d2c175a734df","comment_count":0},"url":"https://api.github.com/repos/openaustralia/planningalerts/commits/68e9ce9d9782c10673abda99a313d2c175a734df","html_url":"https://github.com/openaustralia/planningalerts/commit/68e9ce9d9782c10673abda99a313d2c175a734df","comments_url":"https://api.github.com/repos/openaustralia/planningalerts/commits/68e9ce9d9782c10673abda99a313d2c175a734df/comments","author":{"login":"equivalentideas","id":1239550,"avatar_url":"https://avatars0.githubusercontent.com/u/1239550?v=4","gravatar_id":"","url":"https://api.github.com/users/equivalentideas","html_url":"https://github.com/equivalentideas","followers_url":"https://api.github.com/users/equivalentideas/followers","following_url":"https://api.github.com/users/equivalentideas/following{/other_user}","gists_url":"https://api.github.com/users/equivalentideas/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalentideas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalentideas/subscriptions","organizations_url":"https://api.github.com/users/equivalentideas/orgs","repos_url":"https://api.github.com/users/equivalentideas/repos","events_url":"https://api.github.com/users/equivalentideas/events{/privacy}","received_events_url":"https://api.github.com/users/equivalentideas/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"0e5e9d0b3b0b6a5f014b831b7940baeded8244e2","url":"https://api.github.com/repos/openaustralia/planningalerts/commits/0e5e9d0b3b0b6a5f014b831b7940baeded8244e2","html_url":"https://github.com/openaustralia/planningalerts/commit/0e5e9d0b3b0b6a5f014b831b7940baeded8244e2"},{"sha":"2e758767a0052e15b3d345a96d2578d8ffe624c9","url":"https://api.github.com/repos/openaustralia/planningalerts/commits/2e758767a0052e15b3d345a96d2578d8ffe624c9","html_url":"https://github.com/openaustralia/planningalerts[...]
- request:
    method: get
    uri: https://api.github.com/repositories/388113/commits?page=2&per_page=100&since=2017-08-28&until=2017-09-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-R[...]
[...]
